# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Virtual Environment
venv/
env/
ENV/
.env

# OCR specific: PaddleOCR downloads models automatically to these folders
inference/
.paddleocr/
debug/

# Data and Logs
data/sample_receipts/
*.log
output/*.json

# OS specific
.DS_Store
Thumbs.db

# IDE specific
.vscode/
.idea/